// ANIMACION BANNER PRINCIPAL//
.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    width: 100px
    top: 33%
    right: 75%
    z-index: 101
  &-2
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    width: 70px
    top: 71%
    right: 68%
    z-index: 101
  &-3
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    width: 108px
    top: 19%
    right: 25%
    z-index: 101
  
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
.banner-principal__row .banner-principal__img
  @media (min-width: 576px)
    padding-right: 0 !important
    padding-top: 0 !important
    padding-bottom: 0 !important

// TAMAÑO IMAGENES //
.img30
   max-width: 30px !important
.img40
  max-width: 40px !important
.img50
  max-width: 50px !important
.img60
  max-width: 60px !important
.img70
   max-width: 70px !important
.img80
   max-width: 80px !important
.img90
  max-width: 90px !important
.img100
  max-width: 100px !important
.img120
  max-width: 120px !important
.img140
  max-width: 140px !important
.img160
  max-width: 160px !important
.img180
  max-width: 180px !important
.img200
  max-width: 200px !important
.img250
  max-width: 250px !important
.img300
  max-width: 300px !important
.img350
  max-width: 350px !important
.img400
  max-width: 400px !important
.img420
  max-width: 420px !important
.img450
  max-width: 450px !important
.img600
  max-width: 600px !important
.img700
  max-width: 700px !important
.img800
  max-width: 800px !important
.img900
  max-width: 900px !important

//FONDO BANNER INTERNO TEMAS//
.banner-interno__fondo
  background-image: url("../assets/curso/portada/interno.svg") !important
  background-repeat: no-repeat
  background-color: #00E7BF !important
//COLOR FONDO//
.colr
  color: #12263F
  &_1
    span
      color: #12263F !important
  &_2
    color: #F27B58 !important
  &_3
    color: black !important
  &_4
    color: white
  &_5
    .pasos-a__circle 
      div
        color: $color-sistema-texto !important
    .text-end
      text-align: left !important 
.bgr
  background-color: #FFF0A6
  &_1
    background-color: #00E7BF
    margin-top: 30px
  &_2
    background-color: #DBFFFA
    height: 232px
    @media screen and (max-width: 992px)
      height: 279px
    @media screen and (max-width: 420px)
      height: auto
  &_3
    background-color: #FFD400
    margin-top: 30px
  &_4
    background-color: #FFF4BF
  &_5
    background-color: #4A2EFC
    margin-top: 30px
  &_6
    background-color: #B8ADFF
    height: 232px
    @media screen and (max-width: 992px)
      height: 279px
    @media screen and (max-width: 420px)
      height: auto
  &_7
    background-color: #EAE6FF
    &::before
      background-color: #4A2EFC
  &_8
    background-color: #BEFFF4
    &::before
      background-color: #00E7BF
  &_9
    .tarjeta--azul.acordion__activo
      background-color: #FFF9DE 
    .tarjeta--azul
      background-color: #F3F3F3
  &_10
    background-color: #D3F9F2
  &_11
    background-color: #DBFFFA
  &_12
    background-color: #FFF4BF
    height: 246px
    @media screen and (max-width: 420px)
      height: auto
  &_13
    background-color: #F6F6F6
  &_15
    background-color: #FFF4BF
    .slyder-a__btn--atrs
      background-color: #4A2EFC
      background-image: url("../assets/componentes/arrow1.svg") 
    .slyder-a__btn--sigt
      background-color: #4A2EFC
      background-image: url("../assets/componentes/arrow1.svg")
    .slyder-a__bullets__item--active
      background-color: #4A2EFC !important
      border-color: #4A2EFC 
    .slyder-a__bullets__item
      background-color: #C0B6FE
  &_16
    background-color: #BDB6EA
  &_17
    background-color: #D1CAFE
  &_18
    background-color: #BEFFF4
    &::before
      background-color: #00E7BF
  &_19
    background-color: #C5EAFB 
    border-radius: 10px
  &_20
    background-color: #F27B58
    border-radius: 10px
  &_21
    background-color: #EAE6FF
    &::before
      background-color: #4A2EFC
  &_22
    background-color: #FFF4BF
    height: 112px
    @media screen and (max-width: 992px)
      height: 134px
    @media screen and (max-width: 420px)
      height: auto
  &_23
    background-color: #E8E8E8
  &_24
    background-color: #ACFFF0
    .slyder-a__btn--atrs
      background-color: #009077
      background-image: url("../assets/componentes/arrow1.svg") 
    .slyder-a__btn--sigt
      background-color: #009077
      background-image: url("../assets/componentes/arrow1.svg")
    .slyder-a__bullets__item--active
      background-color: #009077 !important
      border-color: #009077 
    .slyder-a__bullets__item
      background-color: #00E0B9
  &_25
    background-color: #FFE14C
    border-radius: 10px
  &_26
    background-color: #F1FAFE
  &_27
    background-color: #FCDED5
    height: 168px
    @media screen and (max-width: 992px)
      height: 214px
    @media screen and (max-width: 420px)
      height: auto
  &_28
    background-color: #FFF4BF
    &::before
      background-color: #FFD400
  &_29
    background-color: #A496FD
  &_30
    background-color: #BEFFF4
    border-radius: 10px
  
.bg_grad-01
  position: relative
  div
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 31px;
    left: -3%;
    width: 33%;
    height: 19%;
    background: #FFF4BF
    background-repeat: no-repeat
    background-size: contain
    @media screen and (max-width: 992px)
      top: -11px
    @media screen and (max-width: 420px)
      top: -19px
      left: -5px
      width: 48%
      height: 16%
.bg_grad-02
  position: relative
  p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 0
    right: 0
    width: 33%
    height: 36%
    background: #FFF4BF
    background-repeat: no-repeat
    background-size: contain
    @media screen and (max-width: 992px)
      top: -11px
    @media screen and (max-width: 420px)
      top: 74%
      right: 0
      width: 48%
      height: 31%
.bg_grad-03
  position: relative
  p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: -19px
    left: -3%
    width: 29%
    height: 21%
    background: #D3F9F2
    background-repeat: no-repeat
    background-size: contain
    @media screen and (max-width: 992px)
      top: -11px
    @media screen and (max-width: 420px)
      top: -19px
      left: -5px
      width: 48%
      height: 16%
.bg_grad-04
  position: relative
  p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 50px
    left: -3%
    width: 29%
    height: 21%
    background: #D3F9F2
    background-repeat: no-repeat
    background-size: contain
    @media screen and (max-width: 992px)
      top: -11px
    @media screen and (max-width: 420px)
      top: -19px
      left: -5px
      width: 48%
      height: 16%
.bg_grad-05
  position: relative
  p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 0
    right: 0
    width: 33%
    height: 36%
    background: #DBFFFA
    background-repeat: no-repeat
    background-size: contain
    @media screen and (max-width: 992px)
      top: -11px
    @media screen and (max-width: 420px)
      top: 74%
      right: 0
      width: 48%
      height: 31%
.bg_grad-06
  position: relative
  div
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 80px;
    left: -3%;
    width: 33%;
    height: 19%;
    background: #FFF4BF
    background-repeat: no-repeat
    background-size: contain
    @media screen and (max-width: 992px)
      top: -11px
    @media screen and (max-width: 420px)
      top: -19px
      left: -5px
      width: 48%
      height: 16%
.bg_grad-07
  position: relative
  div
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 61px
    left: -3%
    width: 29%
    height: 21%
    background: #D3F9F2
    background-repeat: no-repeat
    background-size: contain
    @media screen and (max-width: 992px)
      top: -11px
    @media screen and (max-width: 420px)
      top: -19px
      left: -5px
      width: 48%
      height: 16%
.bg_grad-08
  position: relative
  p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 100px
    left: -3%
    width: 29%
    height: 21%
    background: #D3F9F2
    background-repeat: no-repeat
    background-size: contain
    @media screen and (max-width: 992px)
      top: -11px
    @media screen and (max-width: 420px)
      top: -19px
      left: -5px
      width: 48%
      height: 16%
.bg_grad-09
  position: relative
  p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 0;
    left: -3%;
    width: 33%;
    height: 27%;
    background: #FFF4BF
    background-repeat: no-repeat
    background-size: contain
    @media screen and (max-width: 992px)
      top: -11px
    @media screen and (max-width: 420px)
      top: -19px
      left: -5px
      width: 48%
      height: 16%
.bg_grad-10
  position: relative
  p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 0
    left: -3%
    width: 29%
    height: 21%
    background: #D3F9F2
    background-repeat: no-repeat
    background-size: contain
    @media screen and (max-width: 992px)
      top: -11px
    @media screen and (max-width: 420px)
      top: -19px
      left: -5px
      width: 48%
      height: 16%
.bg_grad-11
  position: relative
  .linea-tiempo-b__row, .linea-tiempo-b__icon
    position: relative 
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: #FAFAFA
    background-repeat: no-repeat
    background-size: contain
    border-radius: 10px
    @media screen and (max-width: 992px)
      top: -11px
    @media screen and (max-width: 420px)
      top: -19px
      left: -5px
      width: 48%
      height: 16%
.bg_grad-12
  position: relative
  p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: -15px;
    left: -3%;
    width: 33%;
    height: 27%;
    background: #FFF4BF
    background-repeat: no-repeat
    background-size: contain
    @media screen and (max-width: 992px)
      top: -11px
    @media screen and (max-width: 420px)
      top: -19px
      left: -5px
      width: 48%
      height: 16%
//POSICION EN PANTALLA//
.pst
  position: absolute
  top: -18px
  right: -53px
  width: 87px
  @media screen and (max-width: 992px)
    top: -5px
  @media screen and (max-width: 420px)
    right: -50px
  &_1
    position: absolute
    top: -40px  
    left: 39%
    width: 85px
  &_2
    width: 80%
    margin-top: 24px
    margin-left: 50px
  &_3
    transition: transform .3s ease-in-out
    &:hover
      transform: scale(1.1)
      transform: translateY(-30px)
//ETIQUETAS//
.etiqueta
  color: $color-sistema-texto
  &_1
    color: $color-sistema-texto
    background-color: #00E7BF
    padding: 2px 6px 5px;
  &_2
    color: $color-sistema-texto
    background-color: #FFD400
    padding: 2px 6px 5px;
  &_3
    color: $color-sistema-texto
    background-color: #C5EAFB
    padding: 2px 6px 5px;
    border-top-right-radius: 10px
    border-top-left-radius: 10px
  &_4
    color: $color-sistema-texto
    background-color: #F27B58
    padding: 2px 6px 5px;
    border-top-right-radius: 10px
    border-top-left-radius: 10px
//MODIFICACION DE COLOR Y OTROS//
.modif
  .tabs-a__tab
    background-color: #F6F6F6
    &:hover
      color: white !important
  .tabs-a__tab__selected
    color: #12263F !important
  &_1
    background-color: #FFFBEF
    color: #12263F;
    border: solid 4px #FFF4CC
//CLASES SOBREESCRITAS//
.horizontal-scroll
  align-items: stretch !important
//LINEA DE TIEMPO D//
.linea-tiempo-d__item.row.linea-tiempo-d__item--selected
  .col-auto.linea-tiempo-d__item__col-number
    .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
      background-color: #D1CAFE !important
      color: $color-sistema-texto
  .col
    .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
      background-color: #D1CAFE

/// non selected
.linea-tiempo-d__item.row
  .col-auto.linea-tiempo-d__item__col-number
    .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
      background-color: #F6F6F6
    .linea-tiempo-d__item__dots:after
      border-left: 4px dotted #adb8c2 !important
  .col
    .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
      background-color: #F6F6F6
//LINEA DE TIEMPO B//
.linea-tiempo-b__line:after
  border-left: 4px dotted #00E7BF
